
.icon-calendar-empty:before { content: '\e809'; } /* '' */
.icon-play:before { content: '\e802'; } /* '' */
.icon-stop:before { content: '\e801'; } /* '' */
.icon-pause:before { content: '\e800'; } /* '' */
.icon-clock:before { content: '\e80a'; } /* '' */
.icon-play-1:before { content: '\e808'; } /* '' */
.icon-stop-1:before { content: '\e803'; } /* '' */
.icon-pause-1:before { content: '\e807'; } /* '' */